@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    border: 2px solid green;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
}

.container input, .container select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.container label {
    display: block;
    margin: 5px 0;
}

.container button {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.container button:hover {
    background-color: darkgreen;
}

h2{
    text-align: center;
}
   
